/* 
Desert sun : #A45C40
Coral: #C38370
Peach : #E4B7A0
Cream : #F6EEE0 
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&display=swap');

body {
  margin:0;
  background-color: #A45C40;
  font-family: 'Poppins', sans-serif;
}



.navbar {
  overflow: hidden;
  background-color:  #E4B7A0;
  position:fixed;
  top:0;
  width:100%;
}

.navbar ul {
  list-style-type: none;
  font-size: 20px;
  margin-right:0px;
}

.name {
  font-weight: 900;
  margin-right: 30em;
}

.navbar ul li a {
  float:left;
  text-decoration:none;
  display: block;
  color:black;
  font-weight: bold;
  margin:15px;
}
.home {
  margin-top: 10px;
  display: flex;
}
.home p {
  border-radius: 25px;
  margin-left: 2em;
  font-size: 25px;
  opacity: 2;
  background-color: #F6EEE0;
  height: fit-content;
  margin-top: 6em;
}
.home img {
  margin-top: 8em;
  padding-right: 20px;
  padding: 15px;
  border-radius: 40px;
  height: 26em;
}
.introduction {
  font-weight: 600;
  font-family: poppins;
  text-align: center;
  padding: 4em;
}

.ian-kariuki {
  font-weight: bold;
  font-size: 4em;
}
.about {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  background-color: #F6EEE0;
  height: fit-content;
}

.navbar .name a{
  font-weight: 900;
}
.about h1 {
  padding-top: 3.5em;
  padding-bottom: 1em;
}
.about p {
  font-weight: 600;
  padding-bottom: 3.5em;
  margin-top: 20px;
}

.skills{
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  background-color: #F6EEE0;
  height: fit-content;
}

.skills h1 {
  padding-top: 3.5em;
  padding-bottom: 1em;
}

.skills-content {
  display: flex;
  font-weight: 600;
  padding-bottom: 3.5em;
  margin-top: 20px;
}

.html {
  width: 25%;
}

.css {
  width: 25%;
}

.contacts {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  background-color: #F6EEE0;
  height: fit-content;
}

.contacts h1 {
  padding-top: 3.5em;
}
.contacts p {
  font-weight: 600;
  padding-bottom: 3.5em;
}
.telephone {
  padding-bottom: 40px;
}