/* 
Desert sun : #A45C40
Coral: #C38370
Peach : #E4B7A0
Cream : #F6EEE0 
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&display=swap');

body {
  margin:0;
  font-family: 'Poppins', sans-serif;
}



.navbar {
  overflow: hidden;
  background-color:  #E4B7A0;
  position:fixed;
  top:0;
  width:100%;
}

.navbar ul {
  list-style-type: none;
  font-size: 20px;
  margin-right:0px;
}

.name {
  margin-right: 80px;
}

.navbar ul li a {
  float:left;
  text-decoration:none;
  display: block;
  color:black;
  font-weight: bold;
  margin:15px;
}


.home {
  margin-top: 10px;
  background-color: #A45C40;
  display: flex;
}
.home p {
  border-radius: 25px;
  margin-left: 4em;
  font-size: 25px;
  background-color: #E4B7A0;
  height: fit-content;
  margin-top: 3em;
}
.home img {
  margin-top: 3em;
  padding: 20px;
  border-radius: 40px;
  width: 25em;
}
.introduction {
  font-family: poppins;
  text-align: center;
  padding: 6em;
}